<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870754886982-50e57hlv7ioj2eve39los26sjuqsf305.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870754886982-50e57hlv7ioj2eve39los26sjuqsf305</string>
	<key>API_KEY</key>
	<string>AIzaSyBzWpJkhaqfMOJaIEd8tZm2HmkVTkCEO7E</string>
	<key>GCM_SENDER_ID</key>
	<string>870754886982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arotec.katumbela.kulolesa</string>
	<key>PROJECT_ID</key>
	<string>kulolesaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kulolesaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870754886982:ios:6c5963862fe3704712f147</string>
	<key>DATABASE_URL</key>
	<string>https://kulolesaapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>